 body {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 60px;
        background: #413f4d;
        color: #ad5f2b;
      }
      h1 {
        font-size: 50px;
        text-shadow: 5px 3px black;
      }
      button {
        font-size: 30px;
        background: #322f44;
        box-shadow: 2px 2px 2px 2px #201e30;
        border-radius: 5px;
        cursor: pointer;
        color: #ad5f2b;
        transition: background 0.25;
      }
      .button:hover {
        background: #37334d;
        transform: scale(1.01);
      }